*{
  box-sizing: border-box;
}
body{
  font-size:16px;
  color:black;
  background-color:white;
}

/*      Header:   ;*/
#header-nav{
  background-color:#A9A9A9;
  border-radius: 0;
  border:0;
  border: 2px solid black;
  padding:10px;
}
.navbar-brand {
  padding-top: 25px;
}
.navbar-brand h1 { /* name */
  color:black;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
#page-heading{
  font-size: 2em;
  font-weight: bold;
}
section{
  background: gray;
}
section h3{
  font-weight: bold;
}
.description{
  padding: 10px;
  clear: right;
  margin:10px;
}
